@media (max-width: 1200px) {
  .container {
    margin: 120px 80px 50px;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .image {
    width: 170px;
    margin-bottom: 50px;
  }
  .textContainer {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 120px 40px 50px;
    justify-content: center;
  }
  .textContainer {
    margin: 0;
  }
}

@media (max-width: 555px) {
  .container {
    margin: 120px 20px 50px;
    justify-content: center;
  }
  .textContainer {
    margin: 0;
  }
}

@media (max-width: 370px) {
  .buttonContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .price {
    margin-bottom: 40px;
  }
}
